<form method="post" action="/users">
  <p>
    Fill out this form to make a drink.
  </p>
  <p>
    <label for="booze">Booze:</label>
    <input type="text" name="booze" id="booze" />
  </p>
  <p>
    <label for="mixer">Mixer:</label>
    <input type="text" name="mixer" id="mixer" />
  </p>
  <p>
    <label for="glass">Glass:</label>
    <input type="glass" name="glass" id="glass" />
  </p>
  <p>
    <button type="submit">Lets Make A Drink!</button>
  </p>
</form>