<form method="post" action="/guest/<%= @guest.id %>">
  <input type="hidden" name="_method" value="put">
  <p>
    Edit.
  </p>
  <p>
    <label for="first name">First Name:</label>
    <input type="text" name="first_name" id="first_name" value= <%= @guest.first_name%>>
  </p>
  <p>
    <label for="last name">Last Name:</label>
    <input type="text" name="last_name" id="last_name" value= <%= @guest.last_name%>>
  </p>
  <p>
    <button type="submit">Edit Your Guest!</button>
  </p>
</form>